{% extends 'base.html' %}

{% block title %}
usuario
{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1> <i class="fas fa-users"> Gestion usuario</i> 
          <button class="btn btn-primary" data-toggle="modal" data-target="#crearusuarios">
            <i class="fas fa-plus"> Nuevo usuario</i>
          </button>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-header bg bg-primary">
      <h3 class="card-title">lista de usuarios</h3>

      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
          title="Collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
          title="Remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">Start creating your amazing application!</div>
    <!-- /.card-body -->
    <div class="card-footer">Footer</div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</section>

<!-- Modal -->
<div class="modal fade" id="crearusuarios">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg bg-success">
        <h5 class="modal-title" id="exampleModalLabel">Crear usuarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-100">Guardar usuario</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

